/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("/static/user/images/background_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.logo-img {
    margin-top: 20px;
    width: auto;
    height: 60px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 43px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.auth-links {
    display: flex;
    gap: 20px;
}

.login-link {
    background: linear-gradient(180deg, #3e1562, #CF36DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-decoration: none;
    margin-top: 6px;
}

.signup-link {
    background: linear-gradient(90deg, #3e1562, #CE36DF);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.signup-link:hover {
    background: linear-gradient(45deg, #b417c5, #d165dd);
}

.footer-container {
    color: black;
    font-weight: bold;
    background-image: url("/static/user/images/down_background_mainpage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    column-gap: 100px;
}

.footer-logo-section {
    display: flex;
    align-items: center;
}

.footer-logo-img {
    width: auto;
    height: 80px;
    margin-right: 150px;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer p {
    margin-right: 50px;
    color: black; 
}

