{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reminder/css/layout.css' %}">
    {% block css %}

    {% endblock %}
  </head>
  <body>

    <div class="container">
      <header class="header">
        <div class="header-content">
          <div class="logo-section">
            <a href="{% url 'user:home' %}">
                <img class="logo-img" src="{% static 'reminder/images/logo.png' %}" alt="Elevate Logo">
            </a>
          </div>
          <nav class="nav-links">
            <a href="{% url 'todo:home' %}" class="nav-link"><b>To Do List</b></a>
            <a href="{% url 'subgoal:home' %}" class="nav-link"><b>Progress Tracker</b></a>
            <a href="{% url 'subgoal:home' %}" class="nav-link"><b>Subgoal</b></a>
            <a href="{% url 'reminder:home' %}" class="nav-link"><b>Reminder</b></a>
          </nav>
          <div class="auth-links">
            <a href="{% url 'user:logout' %}" class="login-link">Logout</a>
            <a href="#" class="signup-link">{{ request.user.username }}</a>
          </div>
        </div>
      </header>
    </div>

    {% block content%}
    
    {% endblock %}

    <footer>
        <div class="footer-container">
            <div class="footer-logo-section">
                <img class="footer-logo-img" src="{% static 'reminder/images/logo_black.png' %}" alt="Elevate Logo" />
            </div>
            <p>&copy; 2024 ELEVATE. All rights reserved.</p>
            <div class="footer-links">
                <a href="#" class="footer-link">Terms of Service</a>
                <a href="#" class="footer-link">Privacy Policy</a>
            </div>
        </div>
    </footer>
  </body>
</html>
