{% extends "reminder/layout.html" %}


{% load static %}


{% block title %}
    Update Reminder
{% endblock%}


{% block css %}
    <link rel="stylesheet" href="{% static 'reminder/css/update_reminder.css' %}">
{% endblock %}


{% block content %}
    <div class="add-subgoal-container">
        <div class="add-subgoal-background">
            <p class="card-title">Update Reminder</p>
            <form action="{% url 'reminder:update_reminder' reminder_id %}" method="post" class="subgoal-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required class="form-control">
                </div>
                <div class="form-group">
                    <label for="completed">Completion Status:</label>
                    <select id="completed" name="completed" class="form-control">
                        <option value=False>False</option>
                        <option value=True>True</option>
                    </select>
                </div>
                <br>
                <br>
                <input type="submit" value="Update Reminder" class="update-button">
            </form>

            <form action="{% url 'reminder:delete_reminder' reminder_id %}" method="post" class="subgoal-form">
                {% csrf_token %}
                <input type="submit" value="Delete Reminder" class="delete-button">
            </form>
        </div>
    </div>
{% endblock %}