{% extends "user/layout.html" %}

{% load static %}

{% block title %}
    User Login
{% endblock %}


{% block content %}
    <div class="login-page">
        <div class="login-container">
            <img alt="Elevate Logo Image" src="{% static 'user/images/logo.png' %}">

            {% if  message %}
                <div class="login-error-alert" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <label for="username_field">Username</label>
                <input type="text" id="username_field" name="username" class="form-control form-control-size">
                <br>
                <label for="password_field">Password</label>
                <input type="password" id="password_field" name="password" class="form-control form-control-size">
                <br>
                <button type="submit" class="button">Login</button>
            </form>

            <p>Don't have an account? <a href="{% url 'user:sign_up' %}">Sign up</a></p>
        </div>
    </div>
{% endblock %}